#bg-green {
  background-color: green;
}

@font-face {
  font-family: 'varela-round';
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
  /* Add other font properties if needed */
}

* {
  font-family: 'varela-round', sans-serif;
  color: rgb(55,34,19)
}

.tableImg {
  height: 15vh;
}

.backgroundImage {
  background-image: url('https://www.shutterstock.com/image-vector/seamless-vector-pattern-abstract-wild-600nw-2363312875.jpg');
  background-size: cover; /* or contain, or specify a width and height */
  
  background-position: center center; /* or top left, top right, bottom left, etc. */
  
  background-repeat: no-repeat; /* prevent repeating the image */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  z-index: -1;
  
}

.aBookPageContainer,
.myBooksPageContainer {
  height: 93vh;
  display: flex;
  padding-top: 3vh;
}

.bookInfoContainer {
  height: 93vh;
  width: 66vw;
  padding: 5vh;
}

.rightSideContainer {
  height: 93vh;
  width: 66vw;
}

.myBooksPageLeftSideContainer {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}

.myBooksPageRightSideContainer {
  height: 93vh;
  width: 75vw;
  padding-top: 1.4vh;
  padding-right: 3vh;
}

.userHomePageContainer {
  height: 93vh;
  width: 66vw;
  padding: 5vh;
  display: flex;

}

.userHomePageLeftSide {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  position: fixed;
}

.userHomePageRightSide {
  height: 93vh;
  width: 75vw;
  padding-top: 1.4vh;
  padding-left: 7vh;
  margin-left: 25vw;

}

.leftSideContainer {
  width: 34vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}

.bookCoverImage {
  width: 70%;
  margin-bottom: 1vh;
  border-radius: 8px;
}

.bookInfoItem {
  margin-bottom: 2vh;
}

/* -------------------- */
.searchPageContainer {
  display: flex;
  justify-content: space-between;
  padding: 5vh;
  margin-top: ;
}

.homePageBookCoverImg {
  width: 15vw;
  margin-bottom: 2vh;
  margin-right: 2vw;
  height: 30vh;
}

.homePageBookCoverImgAndDescriptionContainer {
width: 50vw;
display: flex;
margin-bottom: 5vh;
}

.userHomePageHeader {
  color: rgb(55,34,19);
  font-size: 2em;
  padding: 0.3vh;
  border-radius: 10px;
  margin-bottom: 3vh;
  text-decoration: underline;
}

.spacer {
  height: 5vh;
}

.navbar {
  position: fixed;
}

.card-link {
  color: rgb(108,115,65);

}

.card-link:hover {
  cursor: pointer;
  color: rgb(55,34,19);
}

.books-table-td {
  /* Set the background color with reduced opacity */
  background-color: rgba(255, 255, 255, 0.308) !important; /* White with 50% opacity */
  /* You can add other styling properties as needed */
}

.books-table-th {
   background-color: rgba(249, 240, 216, 0.829) !important;
}

#navbar {
  background-color: rgb(95, 59, 33) !important;
}

.nav-link, .navbar-brand {
  color: white !important;
}


/* ---------------------------------------------------------- */
.nytimesBookListContainer{
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  overflow-y: hidden;
  margin-bottom: 15px;
}

/* contains the .tooltip */
.nytimes-cover-tooltip-container{
position: relative;
  /* display: inline-block; */
}

.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: rgba(249, 240, 216, 0.829);
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 80%;
  transform: translateX(-50%, -50%);
  opacity: 0.5;
  transition: opacity 0.2s;
}

.nytimes-cover-tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.nytimes-cover-pic{
border-radius: 6px;
margin-right: 1.5vh;

}

.nytimes-component-container{
  padding: 2vh;
  width:100%;
/* overflow-y: scroll; */
/* margin-right: 3vh; */
margin-top: 2vh;
}

.landingpage-container{
  display: flex;

}

.landingpage-leftside{
  width: 60vw;
  padding-left: 5vh;
  padding-right: 5vh;
}

.landingpage-rightside{
  width: 23vw;
  margin-top: 15vh;
  margin-left: 7.5vw;
}

#loginform-card{
  padding: 1.5vh !important;
}

.nytHeader {
  border: solid 1px rgb(95, 59, 33);
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: rgba(249, 240, 216, 0.829);
  align-items: center;
}

.bookNookImg {
  height: 35vh;
  margin-top: 1.1vh;
  background-image: url('../assets/booknook_pic3.png');
  background-size: cover; /* or contain, or specify a width and height */
  /* border-radius: 10px; */
  width: 100vw;
  background-position: center center; /* or top left, top right, bottom left, etc. */
  background-repeat: no-repeat; /* prevent repeating the image */
}

.landingPageNytContainer {
  margin-top: -2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #4b6d5a9a; 
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.shelf-link-card-plusmark {
  background-image: url("../../assets/plusmark.JPG");
}